.Review {
    margin: 85px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: blueviolet;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

.Review_Username{
    text-align: left;
    font-style: bold;
}

p{
    text-align: left;
    font-style: italic;
}