.SearchResults{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgb(255, 249, 225);
    margin: 25px;
    padding: 35px;
    border-radius: 15px;
}