*{
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 100%;
  text-align: center;
}

nav ul li {
  float: left;
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  text-align: center;
  display: inline-block;
 }
